@property --gradient-angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

:root {
	--clr1: hsl(0, 50%, 50%);
	--clr2: hsl(27, 50%, 50%);
	--clr3: hsl(59, 50%, 50%);
	--clr4: hsl(103, 50%, 50%);
	--clr5: hsl(170, 50%, 50%);
	--clr6: hsl(230, 50%, 50%);
	--clr7: hsl(269, 50%, 50%);
	--clr8: hsl(313, 50%, 50%);

	--card-size: 15rem;
	--card-gap: 1.5625rem; /* 25px */
}

#root {
	width: 100vw;
	height: 100vh;
	font-family: 'Nunito';
}

.title {
	font-size: 2rem;
	font-weight: bold;
}

.score-container {
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
}

.card-container {
	display: grid;
	justify-items: center;
	padding: 1rem;
	width: 90%;
	height: 100%;
	grid-template-columns: repeat(auto-fit, minmax(calc((var(--card-size) + var(--card-gap))), 1fr));
	gap: var(--card-gap);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	padding: 1.5rem;
	text-align: center;
	border-radius: 10px;
	width: var(--card-size);
	height: var(--card-size);
	position: relative;
	background-color: #202020;
}

.card:hover::before,
.card:hover::after,
.card:active::before,
.card:active::after {
	opacity: 1;
}

.card::before,
.card::after {
	opacity: 0;
	z-index: -1;
	inset: -0.1rem;
	content: '';
	position: absolute;
	background: linear-gradient(
		var(--gradient-angle),
		var(--clr1),
		var(--clr2),
		var(--clr3),
		var(--clr4),
		var(--clr5),
		var(--clr6),
		var(--clr7),
		var(--clr8)
	);
	border-radius: inherit;
	animation: rotation 10s linear infinite;
	transition: opacity cubic-bezier(1, 0.7, 1, 1) 0.3s;
}

.card::after {
	filter: blur(1rem);
}

.card img {
	width: 50%;
	aspect-ratio: 1/1;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	pointer-events: none;
}

.difficulties-container {
	display: flex;
	gap: 1rem;
	align-content: center;
	justify-content: center;
}

.easy.active {
	background-color: var(--clr4);
}
.medium.active {
	background-color: var(--clr3);
}
.hard.active {
	background-color: var(--clr1);
}
.endless.active {
	/* rainbow */
	background: linear-gradient(
		45deg,
		var(--clr1),
		var(--clr3),
		var(--clr4),
		var(--clr1)
	);
	animation: rainbow_animation 6s ease-in-out infinite;
	background-size: 400% 100%;
}

/* Modal CSS */

.blur {
	filter: blur(1rem);
}

.hidden {
	opacity: 0;
	visibility: hidden;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.modal::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content::before,
.modal-content::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	inset: -0.1rem;
	z-index: -1;
	background: linear-gradient(var(--gradient-angle), rgb(131, 163, 141), rgb(141, 131, 163), rgb(163, 141, 131));
	animation: rotation 3s linear infinite;
	border-radius: inherit;
}

.modal-content::after {
	filter: blur(2rem);
}

.modal-content {
	position: relative;

	background-color: #202020;
	height: 20rem;
	width: 20rem;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 1rem;
	border-radius: 12px;
}

@keyframes rotation {
	0% {
		--gradient-angle: 0deg;
	}
	100% {
		--gradient-angle: 360deg;
	}
}

@keyframes rainbow_animation {
	0%,100% {
			background-position: 0 0;
	}

	50% {
			background-position: 100% 0;
	}
}

/* Media Queries */

@media (max-width: 600px) {
	:root {
		--card-size: 7rem;
		--card-gap: 0.729rem; /* (1.5625 * 7) / 15 */
	}
}