@property --gradient-angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

:root {
	--clr1: hsl(0, 50%, 50%);
	--clr2: hsl(27, 50%, 50%);
	--clr3: hsl(59, 50%, 50%);
	--clr4: hsl(103, 50%, 50%);
	--clr5: hsl(170, 50%, 50%);
	--clr6: hsl(230, 50%, 50%);
	--clr7: hsl(269, 50%, 50%);
	--clr8: hsl(313, 50%, 50%);
}

#root {
	width: 100vw;
	height: 100vh;
	font-family: 'Nunito';
}

.title {
	font-size: 2rem;
	font-weight: bold;
}

.score-container {
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
}

.card-container {
	display: grid;
	padding: 1rem;
	width: 90%;
	height: 100%;
	grid-template-columns: repeat(5, 1fr);
	gap: 25px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
	padding: 1.5rem;
	text-align: center;
	border-radius: 10px;
	width: 15rem;
	height: 15rem;
	position: relative;
	background-color: #202020;
}

.card:hover::before,
.card:hover::after {
	opacity: 1;
}

.card::before,
.card::after {
	opacity: 0;
	z-index: -1;
	inset: -.1rem;
	content: '';
	position: absolute;
	background: linear-gradient(
		var(--gradient-angle),
		var(--clr1),
		var(--clr2),
		var(--clr3),
		var(--clr4),
		var(--clr5),
		var(--clr6),
		var(--clr7),
		var(--clr8)
		);
	border-radius: inherit;
	animation: rotation 10s linear infinite;
	transition: opacity cubic-bezier(1, .7, 1, 1) .3s;
}

.card::after {
	filter: blur(1rem);
}

.card img {
	width: 50%;
	aspect-ratio: 1/1;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	pointer-events: none;
}

@keyframes rotation {
	0% {
		--gradient-angle: 0deg;
	}
	100% {
		--gradient-angle: 360deg;
	}
}
